.lead {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 100%;
    object-fit: cover;
    background-image: url(../../images/lead.jpg);
}