.header__link {
    display: flex;
    text-decoration: none;
    color: #fff;
    transition: 0.8s ease;
    font-weight: 500;
    padding: 0 25px;
    border-right: 2px #fff solid;
}

.header__link:hover {
  color: rgb(123, 187, 198);
}