.lead__subtitle {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 580px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 95px;
    text-transform: uppercase;
}